/.idea/.gitignore
/manager-service/manager-service/.idea/.gitignore
/soa/.idea/.gitignore
/.idea/checkstyle-idea.xml
/manager-service/manager-service/.idea/checkstyle-idea.xml
/soa/.idea/checkstyle-idea.xml
/.idea/gradle.xml
/manager-service/manager-service/.idea/gradle.xml
/manager-service/manager-service/.idea/kotlinc.xml
/.idea/misc.xml
/manager-service/manager-service/.idea/misc.xml
/soa/.idea/misc.xml
/.idea/modules.xml
/soa/.idea/modules.xml
/.idea/soa.iml
/soa/.idea/soa.iml
/.idea/vcs.xml
/manager-service/manager-service/.idea/vcs.xml
/soa/.idea/vcs.xml
/.idea/yatool.xml
/manager-service/manager-service/.idea/yatool.xml
/soa/.idea/yatool.xml
